body{
    font-size: 12px;
    font-family: Arial;
}
div.login{
    background-color: #a6e1ec;
    width: 300px;
    height: 300px;
    margin-left: 60%;
    margin-top: 10%;
    border-radius: 10px;

    padding: 20px;
}
div.title{
    font-size: 18px;

}
div.login div{
    margin: 10px;
}
span{
    float: left;
    padding: 10px 0px;
}
input{
    float: right;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
#sub{
    margin-top: 10px;
}
input::placeholder {
    color: #e7e7e7;
    font-size: 12px;
}
.error{
    border: 1px solid red;
}